@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Branches of our brand are located here:</h2>

<img src="../../Content/ajax-loader.gif" alt='loading' class="loading">

<script src="http://maps.google.com/maps/api/js?key=AIzaSyAoZeESGt_71PBDAZaoW9Y3M2oqong7SZ4&sensor=true" type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<div id="map_canvas" style="height: 600px;"></div>

<br /><br /><br />

<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
</p>


@section scripts {
    <script type="text/javascript">
        $(function () {
            google.maps.visualRefresh = true;
            var mapOptions = {
                zoom: 11,
                center: new google.maps.LatLng(32.0853000, 34.7817680),
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            $.getJSON("../Branches/GetAllBranches", function (getAllBranches) {
                console.log(getAllBranches.length);
                for (var i = 0; i < getAllBranches.length; i++) {


                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(getAllBranches[i]["GeoLat"], getAllBranches[i]["GeoLong"]),
                        'map': map,
                        'title': getAllBranches[i]["PlaceName"]
                    });

                    var content = "<div><h2>" + getAllBranches[i]["PlaceName"] +
                        "</h2>" + "<div><h4>Opening hours: " + getAllBranches[i]["OpeningHours"] + "</h4></div></div>";
                    bindInfoWindow(marker, map, new google.maps.InfoWindow(), content);
                }
            });

            $('.loading').hide();
        });

        function bindInfoWindow(marker, map, infowindow, html) {
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(html);
                infowindow.open(map, marker);
            });
        }
    </script>
}